extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form(method='POST' name='film-submit' action='/submit')
    input(type='text' name='film[name]' placeholder='电影名')
    input(type='url' name='film[url]' placeholder='下载地址')
    input(type='submit' value='提交')
  