doctype html
html(lang='zh-Hans')
  include ./include/head.jade

  body
    include ./include/navbar.jade

    main#main-container.container
      block content

    include ./include/footer.jade

    include ./include/scripts.jade
