nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header
      button.navbar-toggle.collapsed&attributes({"data-toggle": "collapse", "data-target": "#navbar-collapse"})(type="button")
        span.sr-only Toggle navigation
        span.icon-bar            
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/", data-pjax="/") Lucky Film

    div#navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class="#{cur == 'Index' ? 'active' : ''}")
          a(href="/", data-pjax="/") 主页
        li(class="#{cur == 'Top250' ? 'active' : ''}")
          a(href="/top250", data-pjax="/top250") Top 250
        if cur == 'Random'
          li(class="#{cur == 'Random' ? 'active' : ''}")
            a(href="/random", data-pjax="/random") 随机