script(src='/components/jquery/dist/jquery.js', type='text/javascript')
script(src='/components/jquery-pjax/jquery.pjax.js', type='text/javascript')
script(src='/components/bootstrap/dist/js/bootstrap.js', type='text/javascript')
include ./analyticstracking.jade
script(type='text/javascript')
  | $(document).pjax('[data-pjax] a, a[data-pjax]', '#main-container');